export PORT=3000
export NODE_ENV=development
export APP_NAME=walk-and-tour-backend
export APP_BASE_URL=http://api.dev.walkandtour.dk:3000
export CORS_ALLOWED_ORIGINS=http://admin.dev.walkandtour.dk:3001,http://dev.walkandtour.dk:3001,http://localhost:3001
export DB_HOST=localhost
export DB_PORT=5432
export DB_NAME=walk_and_tour
export DB_USER=postgres
export DB_PASSWORD=postgres
export AUTH0_ISSUER_BASE_URL=https://dev-d6cba0cbx4c6cfjh.us.auth0.com
export AUTH0_AUDIENCE=http://api.dev.walkandtour.dk/api
export AUTH_BOOTSTRAP_SUPER_ADMIN_EMAIL=francoca87@gmail.com
export AUTH_BOOTSTRAP_SUPER_ADMIN_SUB=google-oauth2|115126832227190392506
export EMAIL_PROVIDER=console
export EMAIL_FROM="Walk and Tour <no-reply@example.com>"
export RESEND_API_KEY=
export STORAGE_DRIVER=local
export LOCAL_STORAGE_ROOT=storage
export LOCAL_STORAGE_PUBLIC_BASE_URL=http://api.dev.walkandtour.dk:3000/media
export SUPABASE_URL=
export SUPABASE_SERVICE_ROLE_KEY=
export SUPABASE_BUCKET=media
