PORT=3000
NODE_ENV=development
APP_NAME=walk-and-tour-backend
APP_BASE_URL=http://api.dev.walkandtour.dk:3000
CORS_ALLOWED_ORIGINS=http://admin.dev.walkandtour.dk:3001,http://dev.walkandtour.dk:3001,http://localhost:3001
DB_HOST=localhost
DB_PORT=5432
DB_NAME=walk_and_tour
DB_USER=postgres
DB_PASSWORD=postgres
AUTH0_ISSUER_BASE_URL=https://dev-d6cba0cbx4c6cfjh.us.auth0.com
AUTH0_AUDIENCE=http://api.dev.walkandtour.dk/api
AUTH_BOOTSTRAP_SUPER_ADMIN_EMAIL=admin@example.com
AUTH_BOOTSTRAP_SUPER_ADMIN_SUB=
EMAIL_PROVIDER=console
EMAIL_FROM="Walk and Tour <no-reply@example.com>"
RESEND_API_KEY=
STORAGE_DRIVER=local
LOCAL_STORAGE_ROOT=storage
LOCAL_STORAGE_PUBLIC_BASE_URL=http://api.dev.walkandtour.dk:3000/media
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_BUCKET=media
